In [1]:
# Import libraries needed for scraping
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
# Create a veriable to refer to the url you are scraping from
url = "https://webpages.charlotte.edu/mscipion/"

In [3]:
# Send HTTP request
response = requests.get(url)
print(response)

<Response [200]>

In [4]:
# Make the Beautiful Soup parser and parse the page for content
soup = BeautifulSoup(response.content, 'html.parser')

In [5]:
# Find the table 
table = soup.find('table')

In [6]:
# Make empty lists to extract table data to
tbl_data = []
hdrs = []

In [7]:
# Find all the headers
for th in table.find_all('th'):
    hdrs.append(th.text.strip())

In [8]:
# Find all the rows
for row in table.find_all('tr')[1:]: # Skips the header row
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    tbl_data.append(cols)

In [9]:
# Create scraped DataFrame using pandas
df = pd.DataFrame(tbl_data, columns=hdrs)
df.head()

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7